<div class="quizz-container">

      <div class="quizz-logo">
          <img src="../../../assets/imgs/logo.png" alt="BuzzFeed">
        <h3>{{title}}</h3>
      </div>

    <div *ngIf=!finished class="quizz-questions">
        <h3>{{questionSelected.question}}</h3>
    </div>

      <div *ngIf=!finished class="quizz-options">
          <button
          (click)="playerChoose(option.alias)" 
          *ngFor="let option of questionSelected.options; let i = index" class="btn-option">
          {{option.name}}
          </button>
      </div>

   <div *ngIf=finished class="quizz-results">
        <H1>O SEU RESULTADO É:</H1>
        <p>{{answerSelected}}</p>
   </div>

</div>